.cardQuemsomos{
  background-color: rgb(13, 13, 172);
    height: 1600px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
    margin:0;
    flex-direction: column;
    /* border: saddlebrown solid 3px; */
    
  }


  .subcardquemnosomos{
    /* background-color: gainsboro; */
    min-height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
    margin-top: 100px;
    /* border: solid blue 2px; */
    gap: 120px;
  }

  .imgsobrenos{
    /* background-color: white; */
    /* height: 560px; */
    /* width: 500px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* border: pink solid 2px; */
    
  }

  .sobreNos{
    /* background-color: white; */
    /* height: 680px; */
    width: 300px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    font-family: "Gemunu Libre", serif;
    gap: 30px;
    /* border: salmon solid 3px; */
    
  }

  .imgcardqmsomos{
    /* height: 610px; */
    width: 470px;
    /* border-radius:8px; */


  }

  .titlecardqmsomos{
    color: gold;
    font-size: 35px;
    /* border: solid blue 3px; */
  }

  .subtittlecardqmsomos{
    color: white;
    font-size: 60px;
  }

  .textcardqmsomos{
    font-size: 27px;
    color: white;
  }

   .proposito{
    min-height: 100vh;
    /* border:  solid red 2px; */
    width:100vw;
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    align-items: center;
    /* border: solid orange 2px; */
    margin-top: 50px;
    gap: 130px;
  } 

  .imgcardproposito{
    /* height: 650px; */
    width: 470px;
    /* border-radius:8px; */
    /* border: solid orange 2px; */

  }


  .textproposito{
    font-family: "Gemunu Libre", serif;
    /* border: solid red 1px; */
    height: 700px;
    width: 530px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 10px;
    /* border: solid orange 2px; */
    /* align-items: center; */
    /* justify-content: center; */
    margin-top: 150px;
  }

  .tittleproposito{
    font-size: 35px;
    /* color:rgba(255, 217, 0, 0.842) ; */
   color: gold;
    
  }

  .subtittleproposito{
    font-size: 70px;
    color: white;
  }

  .accordion {
    width: 41vw;
    /* max-width: 500px; */
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    height: 70vh;
    flex-direction: column;
    margin-top: 15px;
    gap: 30px;
    /* border: solid blue 2px; */
}

.accordion-item {
    border-bottom: 1px solid #ddd;
    /* border: solid black 2px; */
    
}

.imgacordion{
  width: 35px;
  /* position: absolute; */
  /* right: 120px; */
}
.imgacordion1{
  width: 35px;
  /* position: absolute; */
  /* right: 120px; */
  /* display: flex; */
  

}
.imgacordion2{
  width: 35px;
  /* position: absolute; */
  /* right: 120px */
  
}

.accordion-header {
    background: none;
    color: gold;
    padding: 15px;
    cursor: pointer;
    font-size: 35px;
    text-align: right;
    border: none;
    width: 40vw;
    font-family: "Gemunu Libre", serif;
    display: flex;
    gap: 250px;
    
}

.accordion-content {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    padding: 0 15px;
    font-size: 25px;
    background: none;
    font-family: "Gemunu Libre", serif;
    color: white;
    overflow: hidden;
    transition: max-height 0.3s ease-out 0s, /* Delay de 0s para a altura */ opacity 0.3s ease-out 0.5s,   /* Delay de 0.5s para a opacidade */ transform 0.3s ease-out 0.5s;  /* Delay de 0.5s para o movimento de descida */        
}

.accordion-header.active + .accordion-content {
    max-height: 200px;  /* Ajuste a altura conforme necessário */
    opacity: 1;
    transform: translateY(0px);
    padding: 15px;
    display: block;
}


@media (min-width:800px) and (max-width: 1100px) {

  .subcardquemnosomos{
    gap: 50px;
    margin-top: 150px;
  }

  .imgcardqmsomos{
    width: 380px;
  }
  .titlecardqmsomos{
    font-size: 30px;
  }

  .subtittlecardqmsomos{
    font-size: 50px;
  }

  .textcardqmsomos{
    font-size: 25px;
  }

  .proposito{
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .imgcardproposito{
    width: 380px;
  }

  .tittleproposito{
    font-size: 30px;
  }

  .subtittleproposito{
    font-size: 50px;
  }

  .accordion-header{
    font-size: 30px;
  }

  .accordion-content{
    font-size: 20px;
  }
  .accordion-header{
    gap: 200px;
  }

  .cardQuemsomos{
    height: 1500px;
  }
}

@media (min-width:400px) and (max-width: 799px) {

  .cardQuemsomos{

    height: 2200px;
    
  }
  .subcardquemnosomos{
    display: flex;
    flex-direction: column-reverse;
    margin-top: -100px;

  }

  .imgcardqmsomos{
    width: 300px;
  }

  .titlecardqmsomos{
    font-size: 30px;
  }

  .subtittlecardqmsomos{
    font-size: 50px;
  }

  .textcardqmsomos{
    font-size: 25px;
  }
  .sobreNos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
  }

  .proposito{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
  }

  .imgcardproposito{
    width: 300px;
    margin-top: -125px;
  }

  .tittleproposito{
    font-size: 30px;
  }

  .subtittleproposito{
    font-size: 50px;
  }

  .accordion-header{font-size: 30px;
    /* border: solid black 3px; */
    width: 500px; ;
  }
  .textproposito{
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }

  .accordion-content{
    font-size: 16px;
    /* border: solid black 3px; */
    width: 397px;
  }
  .accordion-item{
    /* border: solid black 3px; */
    width: 500px;
  }

  .accordion{
    width: 380px;
  }
}