.cardobras{
    width: 100vw;
    height: 1700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    margin-top: 0px;
    overflow: hidden;
    
  }
  
  .textObras{
    height: 200px;
    width: 500px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family:"Gemunu Libre";
    margin-top: 115px;
  }
  
  .nossasobras{
    width: 100vw;
    height: 4000px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 15px;
  }

  .imgobras1{
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .imgobras2{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 414px;
    border-radius: 5px;
  }

  .imgobras3{
    width: 414px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .imgobras4{
    width: 414px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .imgobras5{
    width: 414px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imgobras6{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imgobras7{
    width: 414px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .imgobras8{
    width: 414px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .imgobras9{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imgobras{
    border-radius: 5px;
  }
  
  .cardimgobras{
    display: flex;
    gap: 16px;
    width: 25vw;  
    height:1420px;
    overflow: hidden;
    display: flex;
    align-items: top;
    flex-direction: column;
    align-items: center;
  }
  .cardimgobras2{
    display: flex;
    gap: 16px;
    align-items: center;
    width: 25vw;  
    height: 1500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: top;
  }
  .cardimgobras3{
    display: flex;
    gap: 16px;
    align-items: start;
    width: 25vw;  
    height: 1350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: top;
    align-items: center;
  }
  
  .tittlecardobras{
  
    font-size: 40px;
    color:rgb(92, 90, 90) ;
  
  }
  
  .tittle2cardobras{
    font-size: 75px;
    color: rgb(13, 13, 172);
  
  }
  
  .imgdasobras1{
    width: 350px;
  }
  .imgdasobras2{
    width: 350px;
  }
  .imgdasobras3{
    width: 350px;
  }
  .imgdasobras4{
    width: 350px;
  }
  .imgdasobras5{
    width: 350px;
  }
  .imgdasobras6{
    width: 350px;
  }
  .imgdasobras7{
    width: 350px;
  }
  .imgdasobras8{
    width: 350px;
  }
  .imgdasobras9{
    width: 350px;
  }

  @media (min-width:800px) and (max-width: 1100px) {

    .cardobras{
      height: 1100px;

    }

    .textObras{
      margin-top: 150px;
    }

    .tittlecardobras{
      font-size: 30px;
    }
    .tittle2cardobras{
      font-size: 50px;
    }

    .imgdasobras1{
      width: 200px;
    }
    .imgdasobras2{
      width: 200px;
    }
    .imgdasobras3{
      width: 200px;
    }
    .imgdasobras4{
      width: 200px;
    }
    .imgdasobras5{
      width: 200px;
    }
    .imgdasobras6{
      width: 200px;
    }
    .imgdasobras7{
      width: 200px;
    }
    .imgdasobras8{
      width: 200px;
    }
    .imgdasobras9{
      width: 200px;
    }

    .nossasobras{
      gap: 14px;
      margin-top: 20px;
    }

    

  }

  @media (min-width:400px) and (max-width: 799px){

    .tittlecardobras{
      font-size: 30px;
    }
    .tittle2cardobras{
      font-size: 50px;
    }

    .imgdasobras1{
      width: 120px;
    }
    .imgdasobras2{
      width: 120px;
    }
    .imgdasobras3{
      width: 120px;
    }
    .imgdasobras4{
      width: 120px;
    }
    .imgdasobras5{
      width: 120px;
    }
    .imgdasobras6{
      width: 120px;
    }
    .imgdasobras7{
      width: 120px;
    }
    .imgdasobras8{
      width: 120px;
    }
    .imgdasobras9{
      width: 120px;
    }

    .nossasobras{
      gap: 14px;
    }

    .cardimgobras{
      width: 120px;
    }
    .cardimgobras2{
      width: 120px;
    }
    .cardimgobras3{
      width: 120px;
    }
    .cardobras{
      height: 800px;
    }

  }