*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: gainsboro; */

}

html, body {
    overflow-x: hidden;
}


.container{
    /* border: solid red 2px; */
    width: 100vw;
    min-height: 100vh; /* Permite crescimento */

    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    position: relative;
}

.menu{
    /* border: solid red 2px; */
    width: 50vw;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid red 2px; */
    font-size: 27px;
    /* border: solid violet 2px; */
    
    
}

a{
    color: orange;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
   
    width: 50vw;

}

.cardInicio{
    font-family: "Gemunu Libre", serif;
    margin-top: -55px;
    /* height: 100vh; */
}

header{

    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.911);
    height: 10vh;
    font-family: "Gemunu Libre", serif;
}



.logo{

    border-radius: 5px;
    width: 19vw;
    height: 8vh;
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-family: "Gemunu Libre", serif;
    color: rgba(255, 217, 0, 0.842);
    /* border: solid 2px white; */
}

.titlelogo{
  font-size: 60px;
}

.contacts{
    width: 8vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: solid red 2px; */
    
}


.contacts img {
    height: 50px;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
  }
  
.contacts img:hover {
    transform: translateY(-10px);
    filter: brightness(1.2);
  }


/* .logoinsta{ */
  /* width: 70px; */
  /* height: 300px; */
/* } */
.logowpp{
    height: 80px;
}

.IMGinicio{
    display: flex;
    margin-top: 0px;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    opacity: 0.4; /* 0 é totalmente transparente, 1 é totalmente opaco */
    overflow: hidden;
}


.textInicio{
    width: 30%;
    align-items: center;
    justify-content: center;
    font-family: "Gemunu Libre", serif;
}

.image1{
    width: 90%;
}

.titulo-com-cursor {
    display: inline-block;  /* Para que o título ocupe apenas o espaço necessário */
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;

}

.cursor {
    content: '';
    display: inline-block;
    width: 3px;   /* Largura do cursor */
    height: 50px;  /* Tamanho igual ao do texto */
    background-color: gray;
    animation: piscar-cursor 0.8s steps(1) infinite;  /* Animação de piscada */
    position: absolute;
    margin-left: 0px;
   
}



/* Animação para o cursor piscar */
@keyframes piscar-cursor {
    50% {
        opacity: 0;  /* Fica invisível no meio da animação */
    }
    100% {
        opacity: 1;  /* Fica visível no final da animação */
    }
}

.text{
    height: 40vh;
    width: 60vw;
    position: absolute;
    top: 360px;
    left: 215px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}

.img1{
    width: 100vw;
    height: 90vh;
}

.btnfalecomigo{
     width: 170px;
    height: 55px; 
    font-size: 25px;
    background-color: rgba(0, 0, 255, 0.568);
    color:rgba(255, 217, 0, 0.842);
    border: none;
    cursor: pointer;
    font-family: "Gemunu Libre", serif; 
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  font-weight: bold;
 
  background: linear-gradient(to right,blue 50%,  rgba(255, 217, 0, 0.918) 50%);
  background-size: 200% 100%;
  background-position: left;
  border: none;
  cursor: pointer;
  transition: background-position 0.4s ease-in-out, color 0.4s ease-in-out;
}

.btnfalecomigo:hover {
    background-position: right;
    color: white; /* Mantém o texto visível */
  }

.titlleinicio{
    font-size: 50px;
    color: rgba(255, 217, 0, 0.842) ;
    /* text-shadow: 50px 20px 60px 80px rgba(0, 0, 0, 0.5); */
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}

.titlleinicio2{
    font-size: 95px;
    color: blue;
    /* text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.5); */
}

.titlleinicio3{
    color:rgb(92, 90, 90) ;
    font-size: 45px;
    /* text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5); */
}

ul a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bold; 
  }
  
  ul a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 0;
    height: 4px;
    /* background-color: black; */
    transition: width 0.3s ease-in-out;
    background-color: rgba(255, 217, 0, 0.842);
  }

  ul a:hover {
    color:  rgba(255, 217, 0, 0.842);; /* Cor do texto ao passar o mouse */
  }
  
  ul a:hover::after {
    width: 100%;
    color: rgba(255, 217, 0, 0.842);
  }

  
  a{
    cursor: pointer;
  }

  .logo1{
    width: 35px;
    height: 40px;
    /* border: solid white 1px; */
  }

  .logo2{
    /* border: solid orange 1px; */
    height: 40px;
    border: solid white 2px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid white 1px; */
    background-color: blue;
    border-radius: 5px;
  }
  .logo3{
    /* border: solid white 1px; */
    width: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
  }

  .logotxt{
    /* border: solid white 1px; */
    height: 49px;
    /* border: solid white 2px; */
    width: 172px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    border-radius: 5px;

  }

  .logotxt2{
    /* border: solid white 1px; */
    height: 30px;
    width: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border-radius: 5px;
    font-size: 20px;
  }

  .start {
    color: rgba(255, 217, 0, 0.842);
  }
  
  .end {
    color: white; /* Cor da segunda parte */
  }


  .cardQuemsomos{
    background-color: gainsboro;
    height: 2300px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* justify-content: space-around; */
    margin-top: -56px;
    flex-direction: column;
    /* border: saddlebrown solid 3px; */
    
  }


  .subcardquemnosomos{
    /* background-color: gainsboro; */
    min-height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
    margin-top: 100px;
    /* border: solid blue 2px; */
    gap: 160px;
  }

  .imgsobrenos{
    /* background-color: white; */
    /* height: 560px; */
    /* width: 500px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* border: pink solid 2px; */
    
  }

  .sobreNos{
    /* background-color: white; */
    /* height: 680px; */
    width: 410px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    font-family: "Gemunu Libre", serif;
    gap: 30px;
    /* border: salmon solid 3px; */
    
  }

  .imgcardqmsomos{
    height: 750px;
    width: 400px;
    border-radius:8px;


  }

  .titlecardqmsomos{
    color:rgba(255, 217, 0, 0.842) ;
    font-size: 50px;
  }

  .subtittlecardqmsomos{
    color: blue;
    font-size: 90px;
  }

  .textcardqmsomos{
    font-size: 36px;
    color: rgb(90, 89, 89);
  }

   .proposito{
    min-height: 100vh;
    /* border:  solid red 2px; */
    width:100vw;
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    align-items: center;
    /* border: solid orange 2px; */
    margin-top: 100px;
    gap: 160px;
  } 

  .imgcardproposito{
    height: 800px;
    width: 425px;
    border-radius:8px;
  }


  .textproposito{
    font-family: "Gemunu Libre", serif;
    /* border: solid red 1px; */
    height: 700px;
    width: 530px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 10px;
  }

  .tittleproposito{
    font-size: 50px;
    /* color:rgba(255, 217, 0, 0.842) ; */
    color:rgba(255, 217, 0, 0.842)
    
  }

  .subtittleproposito{
    font-size: 90px;
    color: blue;
  }

  .accordion {
    width: 41vw;
    /* max-width: 500px; */
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    height: 70vh;
    flex-direction: column;
    margin-top: 15px;
    gap: 30px;
    /* border: solid blue 2px; */
}

.accordion-item {
    border-bottom: 1px solid #ddd;
    /* border: solid black 2px; */
    
}

.imgacordion{
  width: 40px;
  position: absolute;
  right: 120px;
}
.imgacordion1{
  width: 40px;
  position: absolute;
  right: 120px;
  /* display: flex; */
  

}
.imgacordion2{
  width: 40px;
  position: absolute;
  right: 120px
  
}

.accordion-header {
    background: none;
    color: blue;
    padding: 15px;
    cursor: pointer;
    font-size: 45px;
    text-align: left;
    border: none;
    width: 40vw;
    display: block;
    /* border: solid blue 1px; */
    font-family: "Gemunu Libre", serif;
    /* display: flex; */
    /* gap: 350px; */
    align-items: center;
    
}

.accordion-content {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    padding: 0 15px;
    font-size: 35px;
    background: none;
    font-family: "Gemunu Libre", serif;
    color: rgb(90, 89, 89);
    overflow: hidden;
    transition: max-height 0.3s ease-out 0s, /* Delay de 0s para a altura */ opacity 0.3s ease-out 0.5s,   /* Delay de 0.5s para a opacidade */ transform 0.3s ease-out 0.5s;  /* Delay de 0.5s para o movimento de descida */        
}

.accordion-header.active + .accordion-content {
    max-height: 200px;  /* Ajuste a altura conforme necessário */
    opacity: 1;
    transform: translateY(0px);
    padding: 15px;
    display: block;
}


.cardobras{
  width: 100vw;
  height: 2000px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  background-color: gainsboro;
  margin-top: 0px;
  /* border: solid red 2px; */
  
}

.textObras{
  height: 200px;
  width: 500px;
  /* border: solid red 2px; */
  align-items: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family:"Gemunu Libre";
}

.nossasobras{
  /* border: solid black 2px; */
  width: 100vw;
  height: 4000px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 100px;
  /* flex-direction: column; */
  gap: 14px;

}
.imgobras1{
  /* border: solid blue 2px; */
  /* height: 304px; */
  /* width: 404px; */
  border-radius: 5px;
  /* box-shadow: 3px 3px 20px; */
  align-items: center;
  justify-content: center;
  display: flex;
}
.imgobras2{
  /* border: solid blue 2px; */
  align-items: center;
  justify-content: center;
  display: flex;
  /* height: 284px; */
  width: 414px;
  border-radius: 5px;
  /* box-shadow: 3px 3px 20px; */
}
.imgobras3{
  /* border: solid blue 2px; */
  /* height: 620px; */
  width: 414px;
  border-radius: 5px;
  /* box-shadow: 3px 3px 20px; */
  align-items: center;
  justify-content: center;
  display: flex;
}
.imgobras4{
  /* border: solid blue 2px; */
  /* height: 294px; */
  width: 414px;
  border-radius: 5px;
  /* box-shadow: 3px 3px 20px; */
  align-items: center;
  justify-content: center;
  display: flex;
}
.imgobras5{
  /* border: solid blue 2px; */
  /* height: 508px; */
  width: 414px;
  border-radius: 5px;
  /* box-shadow: 3px 3px 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgobras6{
  /* border: solid blue 2px; */
  /* height: px; */
  /* width: 404px; */
  border-radius: 5px;
  /* box-shadow: 3px 3px 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgobras7{
  /* border: solid blue 2px; */
  /* height: px; */
  width: 414px;
  border-radius: 5px;
  /* box-shadow: 3px 3px 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgobras8{
  /* border: solid blue 2px; */
  /* height: 350px; */
  width: 414px;
  border-radius: 5px;
  /* box-shadow: 3px 3px 20px; */
  align-items: center;
  justify-content: center;
  display: flex;
}


.imgobras9{
  /* border: solid blue 2px; */
  /* height: px; */
  /* width: 404px; */
  border-radius: 5px;
  /* box-shadow: 3px 3px 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgobras{
  /* border: solid blue 2px; */
  /* height: 304px; */
  /* width: 404px; */
  border-radius: 5px;
  /* box-shadow: 3px 3px 20px; */
}

.cardimgobras{
  display: flex;
  /* justify-content: space-around; */
  gap: 30px;
  /* justify-content: center; */
  /* align-items: end; */
  /* border: solid red 2px; */
  width: 25vw;  
  height:1420px;
  overflow: hidden;
  display: flex;
  /* justify-content: center; */
  align-items: top;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.cardimgobras2{
  display: flex;
  /* justify-content: space-around; */
  gap: 30px;
  /* justify-content: center; */
  align-items: center;
  /* border: solid red 2px; */
  width: 25vw;  
  height: 1500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: top;
}
.cardimgobras3{
  display: flex;
  /* justify-content: space-around; */
  gap: 30px;
  /* justify-content: center; */
  align-items: start;
  /* border: solid red 2px; */
  width: 25vw;  
  height: 1350px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: top;
  align-items: center;
}

.tittlecardobras{

  font-size: 50px;
  color:rgba(255, 217, 0, 0.842);

}

.tittle2cardobras{
  font-size: 90px;
  color: blue;

}

.imgdasobras{
  width: 410px;
  /* height: 300px; */
}

.imgdasobras1{
  width: 410px;
  /* height: 400px; */
}
.imgdasobras2{
  width: 410px;
  /* height: 400px; */
}
.imgdasobras3{
  width: 410px;
  /* height: 400px; */
}
.imgdasobras4{
  width: 410px;
  /* height: 400px; */
}
.imgdasobras5{
  width: 410px;
  /* height: 400px; */
}
.imgdasobras6{
  width: 410px;
  /* height: 400px; */
}
.imgdasobras7{
  width: 410px;
  /* height: 400px; */
}
.imgdasobras8{
  width: 410px;
  /* height: 400px; */
}
.imgdasobras9{
  width: 410px;
  /* height: 400px; */
}